@charset "UTF-8";
.nav .logo {
    padding-left: 2vw;
}

.nav .navigation-bar {
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
    font-size: 14pt;
    margin-right: 4vw;
}

.nav .navigation-bar .navigation-list {
    background: #7e7e7e;
    border-radius: 5px;
    padding: 1vh 1.5vw;
    cursor: pointer;
    color: white;
}

#login {
    width: 100%;
    padding: 0 18vw;
    padding-top: 20vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.loginForm .login_tags {
    font-weight: bold;
    font-size: 41pt;
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-shadow: 2px 2px black;
}

.loginForm .loginInput {
    width: 85%;
    padding: 1.5vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*footer*/
.footer {
    float: left;
    width: 33.33%;
    width: 100vw;
    background: #212121;
    padding: 5vh 0;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-size: 12pt;
}

.footer .text {
    position: relative;
    color: white;
    bottom: 0;
}

.footer .footer-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 33.3%;
}

.footer .footer-links div {
    color: #FF926F;
    margin-bottom: 1.5vh;
    text-decoration: none;
}

.footer .footer-social {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 33.3%;
    font-weight: 100;
    font-size: 12pt;
}

li {
    margin-bottom: 1.5vh;
}

.footer .footer-social a {
    text-decoration: none;
    color: #FF926F;
    
}

/*navigation bar*/
.main-container .header .navigation-bar .navigation-list {
        background: black;
        border-radius: 5px;
        padding: 1vh 1.5vw;
        cursor: pointer;
		color: white; }
		
div > ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border-radius: 10px;
}

div > ul > li{
	float: left;
}

div > ul > li > a{
	display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

div > ul> li > a:hover {
	background-color: #111;
}


/*header*/
.header {
    position: absolute;
    color: white;
    height: 18vh;
    width: 100%;
    background-color: #212121;
}

.header .logo {
    padding-left: 5vw;
    max-height: 18vh;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    overflow: hidden;
    margin-right: 2vw;
    text-align: center;
}

.header li {
    float: left;
    width: 15vw;
    height: 6vh;
    font-size: 4vh;
    margin-top: 6vh;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.header a {
    color: #FF926F;
}

.header li a:hover {
    font-weight: 600;
    text-decoration: none;
    color: white;
}
